<a href="https://colab.research.google.com/github/Hannah250/Articial-Neural-Networks-project/blob/main/Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
##Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import datetime
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
theme_colors = ['#FF1654', '#20A4F3', '#56E39F', '#F9C846', '#4C5760']

font = 'Courier New'

pd.set_option('display.max_columns', None)

In [ ]:
##upload the file
from google.colab import files
uploaded =files.upload()

Saving marketing_campaign.csv to marketing_campaign (1).csv

In [ ]:
##read the CSV into a dataframe
df=pd.read_csv('marketing_campaign.csv',sep="\t")

In [ ]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
df.shape

(2240, 29)

In [ ]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
df.nunique()

ID                     2240
Year_Birth               59
Education                 5
Marital_Status            8
Income                 1974
Kidhome                   3
Teenhome                  3
Dt_Customer             663
Recency                 100
MntWines                776
MntFruits               158
MntMeatProducts         558
MntFishProducts         182
MntSweetProducts        177
MntGoldProds            213
NumDealsPurchases        15
NumWebPurchases          15
NumCatalogPurchases      14
NumStorePurchases        14
NumWebVisitsMonth        16
AcceptedCmp3              2
AcceptedCmp4              2
AcceptedCmp5              2
AcceptedCmp1              2
AcceptedCmp2              2
Complain                  2
Z_CostContact             1
Z_Revenue                 1
Response                  2
dtype: int64

In [ ]:
df.drop(['ID','Z_CostContact','Z_Revenue'],axis =1, inplace= True)

In [47]:
df.isnull

<bound method DataFrame.isnull of       Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0           1957  Graduation         Single  58138.0        0         0
1           1954  Graduation         Single  46344.0        1         1
2           1965  Graduation       Together  71613.0        0         0
3           1984  Graduation       Together  26646.0        1         0
4           1981         PhD        Married  58293.0        1         0
...          ...         ...            ...      ...      ...       ...
2235        1967  Graduation        Married  61223.0        0         1
2236        1946         PhD       Together  64014.0        2         1
2237        1981  Graduation       Divorced  56981.0        0         0
2238        1956      Master       Together  69245.0        0         1
2239        1954         PhD        Married  52869.0        1         1

     Dt_Customer  Recency  MntWines  MntFruits  MntMeatProducts  \
0     04-09-2012       58       635         88              546
1     08-03-2014       38        11          1                6
2     21-08-2013       26       426         49              127
3     10-02-2014       26        11          4               20
4     19-01-2014       94       173         43              118
...          ...      ...       ...        ...              ...
2235  13-06-2013       46       709         43              182
2236  10-06-2014       56       406          0               30
2237  25-01-2014       91       908         48              217
2238  24-01-2014        8       428         30              214
2239  15-10-2012       40        84          3               61

      MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
0                 172                88            88                  3
1                   2                 1             6                  2
2                 111                21            42                  1
3                  10                 3             5                  2
4                  46                27            15                  5
...               ...               ...           ...                ...
2235               42               118           247                  2
2236                0                 0             8                  7
2237               32                12            24                  1
2238               80                30            61                  2
2239                2                 1            21                  3

      NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
0                   8                   10                  4
1                   1                    1                  2
2                   8                    2                 10
3                   2                    0                  4
4                   5                    3                  6
...               ...                  ...                ...
2235                9                    3                  4
2236                8                    2                  5
2237                2                    3                 13
2238                6                    5                 10
2239                3                    1                  4

      NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
0                     7             0             0             0
1                     5             0             0             0
2                     4             0             0             0
3                     6             0             0             0
4                     5             0             0             0
...                 ...           ...           ...           ...
2235                  5             0             0             0
2236                  7             0             0             0
2237                  6             0             1             0
2238                  3             0             0             0
2239                  7             0             0             0

      AcceptedCmp1  AcceptedCmp2  Complain  Response
0                0             0         0         1
1                0             0         0         0
2                0             0         0         0
3                0             0         0         0
4                0             0         0         0
...            ...           ...       ...       ...
2235             0             0         0         0
2236             1             0         0         0
2237             0             0         0         0
2238             0             0         0         0
2239             0             0         0         1

[2240 rows x 26 columns]>